<title>加工单</title>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>加工单</cite></a>
        <a><cite>加工单</cite></a>
    </div>
</div>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">
            加工单
        </div>
        <div class="layui-card-body">
            <form class="layui-form layui-form-sm" action="/handler/admin/processingorder/list" method="post" id="admin-processing-form" lay-filter="admin-processing-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">单号</label>
                    <div class="layui-input-inline w100">
                        <input type="text" name="OrderNo" placeholder="请输入单号" class="layui-input" autocomplete="off" />
                    </div>
                    <label class="layui-form-label">下单时间</label>
                    <div class="layui-input-inline w120">
                        <input type="text" class="layui-input" name="StartAt" id="StartAt" datetype="date" placeholder="" autocomplete="off">
                    </div>
                    <div class="layui-form-mid layui-word-aux">-</div>
                    <div class="layui-input-inline w120">
                        <input type="text" class="layui-input" name="EndAt" id="EndAt" datetype="date"  placeholder="" autocomplete="off">
                    </div>
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-inline w160">
                        <select id="admin-processing-status-select" name="Status" lay-verify="required" data-enums="SK.Entities.ProcessingOrder+OrderStatus" lay-filter="admin-processing-status-select"></select>
                    </div>
                    <div class="layui-input-inline auto">
                        <button lay-submit lay-filter="admin-processing-form-submit" class="layui-btn layui-btn-sm">查找</button><input type="reset" class="layui-btn layui-btn-primary layui-btn-sm" value="重置" />
                    </div>
                </div>
            </form>
            <table id="admin-processing-index" lay-filter="admin-processing-index"></table>
            <script type="text/html" id="admin-processing-index-table-operate">
                <div class="opetate">
                    <button class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</button>
                    <button class="layui-btn layui-btn-xs" lay-event="edit">编辑</button>
                    <button class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</button>
                </div>
            </script>
        </div>
    </div>
</div>
<script>
    layui.use(["admin", "form","table", "laydate", "view"], function () {
        var $ = layui.$
        , admin = layui.admin
        , table = layui.table
        , laydate = layui.laydate
        , form = layui.form
        , view = layui.view;
        console.log("444444444444....");

        admin.form.render();

        table.render({
            elem: "#admin-processing-index",
            url: "/handler/admin/processingorder/list",
            skin: "auto",
            size:"sm",
            method:"post",
            page: true,
            cols: [[
                { title: "加工单号", field: "OrderNo" },
                { title: "加工内容", field: "Content" },
                { title: "下单时间", field: "CreateAt" },
                { title: "状态", templet: "<div>{{ htmlFunction.status(d.Status) }}</div>" },
                { title: "操作", templet: "#admin-processing-index-table-operate" }
            ]]
        });

        table.on("tool(admin-processing-index)", function (ele) {
            switch (ele.event) {
                case "detail":
                    {
                        //view().render("admin/processing/jgd-info")
                        admin.popup({
                            id:"test111",
                            area: ["600px", "400px"],
                            success: function (a, b) {
                                console.log("ele.data:" + ele.data);
                                view(this.id).render("admin/processing/jgd-info", ele.data);
                            }
                        });
                    }
                    break;
                default:
                    break;

            }
        });

        form.on('submit(admin-processing-form-submit)', function (data) {
            console.log(data.elem);
            console.log(data.form);
            console.log(data.field);
            table.reload('admin-processing-index', { where: data.field });
            //admin.req(
            //    {
            //        "url": data.form.action,
            //        "data": data.field,
            //        "success": function (res) {
            //            console.log(res);
            //            table.render({ elem: "#admin-processing-index", })
            //        }
            //    }
            //    );

            return false;
        });
    });
</script>