<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.\MSSQLSERVER2;Initial Catalog=JGD;User Id=sa;Password=000000;MultipleActiveResultSets=true" />
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=JGD;User Id=sa;Password=a123456;MultipleActiveResultSets=true" />-->
  </connectionStrings>
</configuration>