<script template type="text/html" lay-url="/handler/admin/pickuporder/info" lay-type="post" lay-data="{ ID:'{{ d.params.ID }}'}">
<form class="layui-form" action="/handler/admin/pickuporder/save" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">类型：</label>
        <div class="layui-input-block"><div class="layui-form-mid layui-word-aux">{{ d.data.TypeName }}</div></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">日期：</label>
        <div class="layui-input-block"><div class="layui-form-mid layui-word-aux">{{ d.data.PickUpAt }}</div></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">提货内容：</label>
        <div class="layui-input-block"><div class="layui-form-mid layui-word-aux">{{ d.data.Content }}</div></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">车辆信息：</label>
        <div class="layui-input-block"><div class="layui-form-mid layui-word-aux">{{ d.data.VehicleInfo }}</div></div>
    </div>
</form>
</script>
