<script template type="text/html">
<div class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">单号：</label>
        <div class="layui-input-block"><div class="layui-form-mid layui-word-aux"><b>{{ d.params.OrderNo }}</b></div></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">状态：</label>
        <div class="layui-input-block"><div class="layui-form-mid layui-word-aux">{{ htmlFunction.status(d.params.Status) }}</div></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">下单时间：</label>
        <div class="layui-input-block"><div class="layui-form-mid layui-word-aux">{{ d.params.CreateAt }}</div></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">加工内容：</label>
        <div class="layui-form-mid layui-word-aux">{{ d.params.Content }}</div>
    </div>
</div>
</script>