<title>加工费</title>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>加工费</cite></a>
        <a><cite>加工费</cite></a>
    </div>
</div>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">
            加工费
        </div>
        <div class="layui-card-body">
            <form class="layui-form layui-form-sm" action="/handler/admin/processingfee/list" method="post" id="admin-processingfee-form" lay-filter="admin-processingfee-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">加工费单号</label>
                    <div class="layui-input-inline w100">
                        <input type="text" name="FeeNo" placeholder="加工费单号" class="layui-input" autocomplete="off" />
                    </div>
                    <label class="layui-form-label">加工单号</label>
                    <div class="layui-input-inline w100">
                        <input type="text" name="ProcessingNo" placeholder="加工单号" class="layui-input" autocomplete="off" />
                    </div>
                    <label class="layui-form-label">下单时间</label>
                    <div class="layui-input-inline w120">
                        <input type="text" class="layui-input" name="StartAt" id="StartAt" datetype="date" placeholder="" autocomplete="off">
                    </div>
                    <div class="layui-form-mid layui-word-aux">-</div>
                    <div class="layui-input-inline w120">
                        <input type="text" class="layui-input" name="EndAt" id="EndAt" datetype="date"  placeholder="" autocomplete="off">
                    </div>
                    <div class="layui-input-inline auto">
                        <button lay-submit lay-filter="admin-processingfee-form-submit" class="layui-btn layui-btn-sm">查找</button><input type="reset" class="layui-btn layui-btn-primary layui-btn-sm" value="重置" />
                    </div>
                </div>
            </form>
            <table id="admin-processingfee-index" lay-filter="admin-processingfee-index"></table>
            <script type="text/html" id="admin-processingfee-index-table-operate">
                <div class="opetate">
                    <button class="layui-btn layui-btn-primary layui-btn-xs" lay-action="admin/processingfee/info" lay-event="detail">查看</button>
                </div>
            </script>
        </div>
    </div>
</div>
<script>
    layui.use(["admin", "form","table", "laydate", "view"], function () {
        var $ = layui.$
        , admin = layui.admin
        , table = layui.table
        , laydate = layui.laydate
        , form = layui.form
        , view = layui.view;

        table.render({
            elem: "#admin-processingfee-index",
            url: "/handler/admin/processingfee/list",
            skin: "auto",
            size:"sm",
            method:"post",
            page: true,
            cols: [[
                { title: "加工费单号", field: "FeeNo" },
                { title: "所属加工单", field: "ProcessingNo" },
                { title: "类型", field: "TypeName" },
                { title: "明细", field: "Content" },
                { title: "创建时间", field: "CreateAt" },
                { title: "操作", templet: "#admin-processingfee-index-table-operate" }
            ]]
        });

        form.on('submit(admin-processingfee-form-submit)', function (data) {
            console.log(data.elem);
            console.log(data.form);
            console.log(data.field);
            table.reload('admin-processingfee-index', { where: data.field });
            return false;
        });

        admin.form.render();
        table.tool('admin-processingfee-index');
    });
</script>